Repository genericmoniker/mirror: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, pytest, svelte-prettier

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
default_stages: [commit]
repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    language: system
    entry: poetry run isort
    types: [python]

  - id: black
    name: black
    language: system
    entry: poetry run black --quiet
    types: [python]

  - id: pylint
    name: pylint
    language: system
    entry: poetry run pylint
    types: [python]

  - id: mypy
    name: mypy
    language: system
    entry: poetry run mypy
    types: [python]
    pass_filenames: false

  - id: pytest
    name: pytest
    language: system
    entry: poetry run pytest
    types: [python]
    pass_filenames: false

  - id: svelte-prettier
    name: svelte-prettier
    language: system
    entry: poetry run pre-commit-npm frontend run pretty
    files: frontend.*\.svelte

- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

Update aiohttp
  poetry.lock
  pyproject.toml
Due: none

Add goal reached indication
  frontend/src/Activity.svelte
Due: svelte-prettier

Include countdown events in the coming up list
  backend/src/mirror/plugins/calendars/coming_up.py
Due: isort, black, pylint, mypy, pytest

Ring graph for step counter
  frontend/src/Activity.svelte
  frontend/src/App.svelte
Due: svelte-prettier

Multiple activity widgets
  README.md
  backend/src/mirror/plugins/activity/__init__.py
  frontend/src/Activity.svelte
  frontend/src/App.svelte
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Fix console error when nothing is playing
  frontend/src/NowPlaying.svelte
Due: svelte-prettier

Fix hard-coded test value
  frontend/src/Activity.svelte
Due: svelte-prettier

Add readiness check endpoint and check in run.sh
  backend/src/mirror/main.py
  system/run.sh
Due: isort, black, pylint, mypy, pytest

Fix caching bug when plugin data has nested dicts
  backend/src/mirror/plugin_context.py
  backend/src/mirror/plugins/activity/fitbit.py
Due: isort, black, pylint, mypy, pytest

Try to detect and log unexpected task exit for now playing
  backend/src/mirror/plugins/now_playing/__init__.py
Due: isort, black, pylint, mypy, pytest

Bold agenda items if they are happening now
  backend/src/mirror/plugins/calendars/common.py
  frontend/src/Agenda.svelte
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Skip calendar items that are in the past
  frontend/src/Calendar.svelte
Due: svelte-prettier

Use online/offline voting
  backend/src/mirror/plugin_context.py
  backend/src/mirror/plugins/connectivity/__init__.py
  system/check-offline.sh
  system/run.sh
Due: isort, black, pylint, mypy, pytest

Fix offline script, minor tweak to run script
  system/check-offline.sh
  system/run.sh
Due: none

Fix bug preventing offline detection
  backend/src/mirror/plugin_context.py
Due: isort, black, pylint, mypy, pytest

Update pytest to remove dependency on py package
  poetry.lock
Due: none

Use cron for offline checking
  system/check-offline.sh
  system/crontab.txt
  system/run.sh
Due: none

Manage dependencies with pdm
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  pdm.lock
  poetry.lock
  poetry.toml
  pyproject.toml
Due: none

Update actions
  .github/workflows/docker-build.yaml
Due: none

Getting running again after clean clone of repo
  .gitignore
  .pre-commit-config.yaml
  README.md
  frontend/package-lock.json
Due: none

Fix pre-commit for pdm
  .pre-commit-config.yaml
Due: none

Remove pytz dependency
  .pre-commit-config.yaml
  backend/src/mirror/plugins/calendars/datetime_utils.py
  pdm.lock
  pyproject.toml
Due: isort, black, pylint, mypy, pytest

Show available plugins in configure help
  backend/src/mirror/main_config.py
Due: isort, black, pylint, mypy, pytest

Add air quality (no-verify while sorting out pre-commit)
  backend/src/mirror/plugins/air_quality/__init__.py
  frontend/public/images/air_quality.svg
  frontend/src/AirQuality.svelte
  frontend/src/Weather.svelte
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Add air quality and other improvements
  README.md
Due: none

Handle errors more gracefully; repair calendar plugin
  backend/src/mirror/plugin_manager.py
  backend/src/mirror/plugins/air_quality/__init__.py
  backend/src/mirror/plugins/calendars/__init__.py
Due: isort, black, pylint, mypy, pytest

Get rid of "bar" display option on activity component
  frontend/src/Activity.svelte
Due: svelte-prettier

Dynamically detect configuration state
  backend/src/mirror/plugins/weather/__init__.py
Due: isort, black, pylint, mypy, pytest

Less subtle pulse on activity completion
  frontend/src/Activity.svelte
Due: svelte-prettier

Error handling
  backend/src/mirror/plugins/air_quality/__init__.py
Due: isort, black, pylint, mypy, pytest

Start of major rework for version 4.0, no frontend framework
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
Due: none

Introduce the plugin class and prepare for fully server-side widgets
  backend/src/mirror/event_bus.py
  backend/src/mirror/layout.py
  backend/src/mirror/main.py
  backend/src/mirror/main_config.py
  backend/src/mirror/paths.py
  backend/src/mirror/plugin.py
  backend/src/mirror/plugin_context.py
  backend/src/mirror/plugin_discovery.py
  backend/src/mirror/plugin_manager.py
Due: isort, black, pylint, mypy, pytest

Add/update simple templates and add/move static resources
  backend/static/htmx.min.js
  backend/static/luxon.min.js
  backend/static/main.css
  backend/static/sse.js
  backend/templates/index.html
  backend/templates/macros.html
  backend/templates/rotator.html
Due: none

Updated weather plugin
  backend/src/mirror/plugins/weather/__init__.py
  backend/src/mirror/plugins/weather/static/weather-glasses.svg
  backend/src/mirror/plugins/weather/static/weather-icons.css
  backend/src/mirror/plugins/weather/static/weather.css
  backend/src/mirror/plugins/weather/static/weathericons-regular-webfont.eot
  backend/src/mirror/plugins/weather/static/weathericons-regular-webfont.svg
  backend/src/mirror/plugins/weather/static/weathericons-regular-webfont.ttf
  backend/src/mirror/plugins/weather/static/weathericons-regular-webfont.woff
  backend/src/mirror/plugins/weather/static/weathericons-regular-webfont.woff2
  backend/src/mirror/plugins/weather/weather.html
Due: isort, black, pylint, mypy, pytest

Updated air quality plugin
  backend/src/mirror/plugins/air_quality/__init__.py
  backend/src/mirror/plugins/air_quality/air_quality.html
  backend/src/mirror/plugins/air_quality/static/air_quality.svg
Due: isort, black, pylint, mypy, pytest

Updated activity plugin
  backend/src/mirror/plugins/activity/__init__.py
  backend/src/mirror/plugins/activity/activity.html
  backend/src/mirror/plugins/activity/static/activity.css
  backend/src/mirror/plugins/activity/static/done.svg
  backend/src/mirror/plugins/activity/static/footsteps.svg
Due: isort, black, pylint, mypy, pytest

Updated calendars plugin
  backend/src/mirror/plugins/calendars/agenda.html
  backend/src/mirror/plugins/calendars/agenda.py
  backend/src/mirror/plugins/calendars/coming_up.html
  backend/src/mirror/plugins/calendars/coming_up.py
  backend/src/mirror/plugins/calendars/countdown.html
  backend/src/mirror/plugins/calendars/countdown.py
  backend/src/mirror/plugins/calendars/datetime_utils.py
Due: isort, black, pylint, mypy, pytest

Updated clock plugin
  backend/src/mirror/plugins/clock/__init__.py
  backend/src/mirror/plugins/clock/clock.html
Due: isort, black, pylint, mypy, pytest
