Repository genericmoniker/mirror: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, pytest, svelte-prettier

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
default_stages: [commit]
repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    language: system
    entry: poetry run isort
    types: [python]

  - id: black
    name: black
    language: system
    entry: poetry run black --quiet
    types: [python]

  - id: pylint
    name: pylint
    language: system
    entry: poetry run pylint
    types: [python]

  - id: mypy
    name: mypy
    language: system
    entry: poetry run mypy
    types: [python]
    pass_filenames: false

  - id: pytest
    name: pytest
    language: system
    entry: poetry run pytest
    types: [python]
    pass_filenames: false

  - id: svelte-prettier
    name: svelte-prettier
    language: system
    entry: poetry run pre-commit-npm frontend run pretty
    files: frontend.*\.svelte

- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

Fix space in key names
  backend/src/mirror/plugins/activity/fitbit.py
Due: isort, black, pylint, mypy, pytest

Add activity frontend
  frontend/src/Activity.svelte
  frontend/src/App.svelte
Due: svelte-prettier

Alternate design for activity component
  backend/src/mirror/plugins/activity/fitbit.py
  frontend/src/Activity.svelte
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Unify log output
  backend/src/mirror/log.py
  backend/src/mirror/main.py
Due: isort, black, pylint, mypy, pytest

Minor logging tweaks
  backend/src/mirror/plugins/calendars/coming_up.py
  backend/src/mirror/plugins/worth/worth.py
Due: isort, black, pylint, mypy, pytest

Clear background when drawing
  frontend/src/Activity.svelte
Due: svelte-prettier

Try harder to get an error message
  backend/src/mirror/plugins/connectivity/__init__.py
Due: isort, black, pylint, mypy, pytest

Work toward graceful shutdown
  backend/src/mirror/event_bus.py
  backend/src/mirror/plugins/activity/__init__.py
  backend/src/mirror/plugins/calendars/__init__.py
  backend/src/mirror/plugins/calendars/calendars.py
  backend/src/mirror/plugins/weather/__init__.py
  backend/src/mirror/plugins/worth/__init__.py
Due: isort, black, pylint, mypy, pytest

Add fade-in/out transition for panels
  frontend/src/RotatorPanel.svelte
Due: svelte-prettier

Add compliment component
  frontend/src/App.svelte
  frontend/src/Compliment.svelte
  frontend/src/Rotator.svelte
Due: svelte-prettier

Reset rotation time back to 30 seconds
  frontend/src/App.svelte
Due: svelte-prettier

Just use LF
  .pre-commit-config.yaml
Due: none

Tweak rotator and compliment
  frontend/src/Compliment.svelte
  frontend/src/RotatorPanel.svelte
Due: svelte-prettier

Split updating data vs. display
  frontend/src/Countdown.svelte
Due: svelte-prettier

Check each minute to see if the date changed
  frontend/src/Countdown.svelte
Due: svelte-prettier

The default branch is "main"; simple
  docker-build.sh
Due: none

Check for day changes in "coming up"
  frontend/src/Calendar.svelte
  frontend/src/ComingUp.svelte
  frontend/src/Countdown.svelte
Due: svelte-prettier

Fix bug in countdown caused by recent refactor
  frontend/src/Countdown.svelte
Due: svelte-prettier

Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

Change "complements" to "positivity"
  frontend/src/App.svelte
  frontend/src/Compliment.svelte
  frontend/src/Positivity.svelte
Due: svelte-prettier

Hard refresh browser on run
  system/run.sh
Due: none

Add first-cut school lunch menu
  backend/src/mirror/plugins/menu/__init__.py
  frontend/src/App.svelte
  frontend/src/Menu.svelte
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Try to address calendar plugin hangs
  backend/src/mirror/plugins/calendars/google_calendar.py
  poetry.lock
  pyproject.toml
Due: isort, black, pylint, mypy, pytest

Add diagnostic endpoint
  backend/src/mirror/main.py
  backend/src/mirror/plugin_manager.py
  backend/src/mirror/plugins/calendars/__init__.py
  backend/src/mirror/plugins/calendars/calendars.py
Due: isort, black, pylint, mypy, pytest

Update httpx version
  poetry.lock
  pyproject.toml
Due: none

Add Portuguese word-of-the-day
  backend/src/mirror/event_bus.py
  backend/src/mirror/plugins/word_ptbr/__init__.py
  frontend/src/App.svelte
  frontend/src/Word.svelte
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Update setup instructions
  README.md
Due: none

Improve task stack diagnostic
  backend/src/mirror/diagnostics.py
  backend/src/mirror/main.py
  backend/src/mirror/plugin_manager.py
  backend/src/mirror/plugins/calendars/__init__.py
  backend/src/mirror/plugins/calendars/calendars.py
Due: isort, black, pylint, mypy, pytest

Add "Light the World" for 2021
  frontend/public/images/ltw2021.svg
  frontend/src/App.svelte
  frontend/src/LightTheWorld.svelte
Due: svelte-prettier

Add some padding for the RotatorPanel
  frontend/src/RotatorPanel.svelte
Due: svelte-prettier

Note about the worth plugin being broken
  backend/src/mirror/plugins/worth/__init__.py
Due: isort, black, pylint, mypy, pytest

Let plugins vote on network connectivity
  backend/src/mirror/plugin_context.py
  backend/src/mirror/plugins/activity/__init__.py
  backend/src/mirror/plugins/mail/__init__.py
  backend/src/mirror/plugins/menu/__init__.py
  backend/src/mirror/plugins/weather/__init__.py
  backend/src/mirror/plugins/word_ptbr/__init__.py
Due: isort, black, pylint, mypy, pytest

WIP now playing plugin
  backend/src/mirror/plugins/now_playing/__init__.py
Due: isort, black, pylint, mypy, pytest

Refactor: Add context for configuration
  backend/src/mirror/main_config.py
  backend/src/mirror/plugin_configure_context.py
  backend/src/mirror/plugins/activity/__init__.py
  backend/src/mirror/plugins/calendars/configure.py
  backend/src/mirror/plugins/mail/__init__.py
  backend/src/mirror/plugins/weather/__init__.py
  backend/src/mirror/plugins/worth/configure.py
Due: isort, black, pylint, mypy, pytest

Add new Spotify now playing pluging/UI.
  README.md
  backend/src/mirror/oauth.py
  backend/src/mirror/plugin_configure_context.py
  backend/src/mirror/plugins/now_playing/__init__.py
  frontend/public/images/now-playing.gif
  frontend/public/images/pause.png
  frontend/src/App.svelte
  frontend/src/NowPlaying.svelte
  poetry.lock
  pyproject.toml
Due: isort, black, pylint, mypy, pytest, svelte-prettier

Disable light the world
  frontend/src/App.svelte
Due: svelte-prettier

Update dependencies
  poetry.lock
Due: none

Try to get cryptography to build
  Dockerfile
Due: none

Increase timeouts
  backend/src/mirror/plugins/activity/fitbit.py
  backend/src/mirror/plugins/connectivity/__init__.py
  backend/src/mirror/plugins/now_playing/__init__.py
  backend/src/mirror/plugins/weather/__init__.py
  backend/src/mirror/plugins/word_ptbr/__init__.py
Due: isort, black, pylint, mypy, pytest

Don't show a bunch of "undefined"
  frontend/src/Word.svelte
Due: svelte-prettier
